verilog/compiled
compiled
*.vcd
synth/*/alib-52
synth/*/.template
synth/*/gate
synth/*/log
synth/*/template
synth/*/command.log
synth/*/default.svf
synth/*/filenames*.log
pnr/*/.cadence
pnr/*/constraints
pnr/*/*.enc.dat
pnr/*/*.enc
pnr/*/*.rpt
pnr/*/*.old
pnr/*/*.map
pnr/*/*.pnr.v
pnr/*/*.def
pnr/*/*.lef
pnr/*/*.opennet
pnr/*/model.asrt.*
pnr/*/innovus.log*
pnr/*/innovus.logv*
pnr/*/innovus.cmd*
pnr/*/timingReports
pnr/*/.core*
pnr/*/.nfs*
pnr/*/.timing*
*ipynb
pnr/*/scheduling_file.cts*
